## 2.3. Problem Statement: Use Cases on Numpy and Pandas

##### 1.) Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception
##### handling using try-catch which gives the output as: 
Output:
1) If the List element is a alphabet or string, the output will be
The entry is a
Oops! <class 'ValueError'> occured.
Next entry.
2) If the List element is “0”,the output will be
The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.
3) If the List element is and integer except 0,then output will be:
The entry is 2
The reciprocal of 2 is 0.5 // reciprocal of an integer

In [46]:
randomList = ['a', 0, 2]

def Alphanumeric(lst):
    for i in lst:
        try:
            print('The entry is',i)
            int(i)  
            reciproal = 1/i
            print("The reciprocal of {} is {}".format(i,reciproal))
        except ValueError:
            print("Oops! <class 'ValueError'> occured.")
            print("Next entry.")
        except ZeroDivisionError:
            print("Oops! <class 'ZeroDivisionError'> occured.")
            print("Next entry.")
       
            
Alphanumeric(randomList)

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.
The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.
The entry is 2
The reciprocal of 2 is 0.5

###### 2) Array out of Bound Exception
Write a Python program to give exception “Array Out of Bound” if the user wants to access the
elements beyond the list size (use try and except)

In [47]:
import numpy as np
try:
    arr = np.array([1,2,4,5,6])
    #access 5th element
    arr[5]
except IndexError:
    print("Array Out of Bound")

Array Out of Bound

###### 3) Write a python module script that contains fib2() method to calculate the Fibonacci series
till 1000 and save it as fibo.py.
Note : The module created as fibo.py has to be placed in lib folder
For linux/ubuntu path = /home/anaconda/lib/python3
For Windows path = C:\Users\Ajit\Anaconda3\Lib

In [48]:
#import numpy as np

#class FibonacciMod: 
    #def __init__(self,n):
        #self.n = n  
    #def fib2(self):   # return Fibonacci series up to n
        #result = []
        #a, b = 0, 1
        #while b < self.n:
            #result.append(b)
            #a, b = b, a+b
        #return result

In [49]:
import fibo as fb

#Module created as fibo.py and plcaded at
#C:\Users\Srikanth\Anaconda3\Lib

#object created for class FibonacciMod
obj = fb.FibonacciMod(1000)

#calling fib2 method.
obj.fib2()

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

###### 4) Write a python module script that contains ispalindrome() method to calculate the input
string as palindrome string or not and save it as palindrome.py.

In [50]:
#import numpy as np
#class palindrome:
    #def __init__(self,inputstr):
        #self.inputstr =inputstr
        
    #def ispalindrome(self):
        #revStr = self.inputstr[::-1] 
        #print('reversed input string is {}'.format(revStr))
        #if(revStr == self.inputstr):
            #return True
        #else:
            #return False

In [51]:
#Module created as palindrome.py and plcaded at
#C:\Users\Srikanth\Anaconda3\Lib
import palindrome as pa
objPalin = pa.palindrome('srikanth')
if objPalin.ispalindrome():
    print('The entred input string {} is {}'.format(objPalin.inputstr, 'palindrome'))
else:
    print('The entred input string {} is not a {}'.format(objPalin.inputstr, 'palindrome'))

The entred input string srikanth is not a palindrome

5) Write a program in Python with one class called Cipher. Within the constructor of this
class, ask user for a string and store it. Use a static variable, key to store a randomly
generated integer between 1 and 50 inclusive. Implement two methods, encrypt and
decrypt within this class. Encrypt generates and prints a cipher text using the user-entered
string and the key and ecrypt generates decrypted string from ciphertext. The cipher only
encrypts alpha and numeric (A-Z, a-z, 0-9). All Symbols, such as - , ; %, remain unencrypted.
The cipher text can have special characters. Use generator expression to filter out alpha and
numeric characters of the input string and to generate cipher text. Create an instance of this
class, encrypt and decrypt back the user entered string.

In [52]:
import numpy as np
import re

#Class to Encrypt and Decrypt using Key
class Cipher:
    #Random key generation between 1 to 50
    key = np.random.randint(1,50)
    def __init__(self,inputStr):
        self.inputStr = inputStr          
    
    #Generator expresstion for filter apha and numeric characters
    def AlphaNumericFilter(self):
            for ch in self.inputStr: 
                if ch.isalnum():
                        yield ch
                else:
                    yield 'NAN'
    
    #method to encrypt input string.
    def Encrypt(self):        
        filList = list()
        cipher_text=[]      
        gen = self.AlphaNumericFilter()
        
        #Filtered list without special characters
        for ch in range(len(self.inputStr)):
            result =next(gen)
            if result != 'NAN':
                filList.append(result)
        result = ''
        for i in self.inputStr:
            if i in filList:  
                #Regular expression pattern for small,capital and nums from 0-9
                regex = re.compile('[a-zA-Z0-9]')               
                if regex.search(i):                     
                    if (i.isupper()):
                        #Algorithm to encrypt capital letters
                        result += chr((ord(i) + self.key-65) % 26 + 65)  
                    elif(i.islower()): 
                        #Algorithm to encrypt small letters
                        result += chr((ord(i) + self.key - 97) % 26 + 97)
                    else: 
                        #Algorithm to encrypt numeric values
                        result += chr((ord(i) + self.key - 48) %10  + 48)                                                    
            else:
                result += i
        return result         
        
    #Method to decrypt cipher text                           
    def Decrypt(self,cipher_text):          
        result = ''
        for i in range(len(cipher_text)):
            x = cipher_text[i]
            if x.isalnum():
                regex = re.compile('[a-zA-Z0-9]')               
                if regex.search(x): 
                    if (x.isupper()):
                         #Algorithm to decrypt capital letters
                        result += chr((ord(x) - self.key-65) % 26 + 65)  
                    elif(x.islower()): 
                         #Algorithm to decrypt small letters
                        result += chr((ord(x) - self.key - 97) % 26 + 97)
                    else:    
                        #Algorithm to decrypt numeric values
                        result += chr((ord(x) - self.key - 48) % 10 + 48)                                                     
            else:
                result += x
        return result        
   
  #creation of Cipher class object       
obj = Cipher("Srikanth2010@Gmail.com")

encriptedText = obj.Encrypt()
print('Encrypted text:',encriptedText)

decryptedTxt = obj.Decrypt(encriptedText)
print('Decrypted text:',decryptedTxt)

Encrypted text: Lkbdtgma7565@Zftbe.vhf
Decrypted text: Srikanth2010@Gmail.com

6) Get Data from the following link:
http://files.grouplens.org/datasets/movielens/ml-20m.zip
We will be using the following files for this exercise:
ratings.csv : userId,movieId,rating, timestamp
tags.csv : userId,movieId, tag, timestamp
movies.csv : movieId, title, genres

I. Read the dataset using pandas.

In [53]:
import pandas as  pd
ratingsDf = pd.read_csv('ratings.csv')
ratingsDf.head(1)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027

In [54]:
movies = pd.read_csv('movies.csv')
movies.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [55]:
tags = pd.read_csv('tags.csv')

II. Extract the first row from tags and print its type.

In [56]:
tags.loc[0]

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [57]:
type(tags.loc[0])

pandas.core.series.Series

III. Extract row 0, 11, 2000 from tags DataFrame.

In [58]:
tags.loc[[0,11,200],:]

     userId  movieId            tag   timestamp
0        18     4141    Mark Waters  1240597180
11       65     1783  noir thriller  1368149983
200     129    55280    dork people  1296939966

IV. Print index, columns of the DataFrame.

In [59]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
userId       465564 non-null int64
movieId      465564 non-null int64
tag          465548 non-null object
timestamp    465564 non-null int64
dtypes: int64(3), object(1)
memory usage: 14.2+ MB

In [60]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

V. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify
using describe().

In [61]:
print('Count: ',format(ratingsDf['rating'].count()))
print('Avg value(mean): ',format(ratingsDf['rating'].mean()))
print('Std Deviation value: ',format(ratingsDf['rating'].std()))
print('Min value: ',format(ratingsDf['rating'].min()))
print('Quantile (25%): ',format(ratingsDf['rating'].quantile(.25)))
print('Center value (50%): ',format(ratingsDf['rating'].median()))
print('Quantile (75%): ',format(ratingsDf['rating'].quantile(.75)))
print('max value: ',format(ratingsDf['rating'].max()),'\n')
print('Using describe----')
print(ratingsDf['rating'].describe())

Count:  20000263
Avg value(mean):  3.5255285642993797
Std Deviation value:  1.051988919275684
Min value:  0.5
Quantile (25%):  3.0
Center value (50%):  3.5
Quantile (75%):  4.0
max value:  5.0

Using describe----
count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

VI. Filter out ratings with rating > 5

In [62]:
ratingsDf[ratingsDf['rating'] >5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

VII. Find how many null values, missing values are present. Deal with them. Print out how many
rows have been modified.

In [63]:
print('tags: Null values {}{}{}'.format('\n',tags.isnull().sum(),'\n'))

print('tags: Missing values {}{}{}'.format('\n',tags.isna().sum(),'\n'))

tags: Null values
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

tags: Missing values
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [64]:
#find null or missing data in tag  columnn
tags[tags['tag'].isna()]

        userId  movieId  tag   timestamp
373276  116460      123  NaN  1199450867
373277  116460      346  NaN  1199451946
373281  116460     1184  NaN  1199452261
373288  116460     1785  NaN  1199452006
373289  116460     2194  NaN  1199450677
373291  116460     2691  NaN  1199451002
373299  116460     4103  NaN  1199451920
373301  116460     4473  NaN  1199451040
373303  116460     4616  NaN  1199452441
373319  116460     7624  NaN  1199452266
373325  116460     8898  NaN  1199450757
373332  116460    32460  NaN  1199450901
373334  116460    33826  NaN  1199450703
373339  116460    36537  NaN  1199450736
373340  116460    55805  NaN  1199450941
454615  133634    33826  NaN  1221450908

In [65]:
import numpy as np
new_df = tags[tags['tag'].isna()]
#fill the missing tag data with most occred movie tag
#most occured tag name(movie)
mostOccMovie = tags['tag'].value_counts().idxmax()
print('Most occured tag name',mostOccMovie)
print('Total missing data',tags.isna().sum().sum())
tags['tag'].replace(np.nan,value=mostOccMovie,inplace=True)
print('After replacing Total missing data',tags.isna().sum().sum())

Most occured tag name sci-fi
Total missing data 16
After replacing Total missing data 0

In [66]:
#Row have been modified.
indexList = new_df.index
tags.loc[indexList]

        userId  movieId     tag   timestamp
373276  116460      123  sci-fi  1199450867
373277  116460      346  sci-fi  1199451946
373281  116460     1184  sci-fi  1199452261
373288  116460     1785  sci-fi  1199452006
373289  116460     2194  sci-fi  1199450677
373291  116460     2691  sci-fi  1199451002
373299  116460     4103  sci-fi  1199451920
373301  116460     4473  sci-fi  1199451040
373303  116460     4616  sci-fi  1199452441
373319  116460     7624  sci-fi  1199452266
373325  116460     8898  sci-fi  1199450757
373332  116460    32460  sci-fi  1199450901
373334  116460    33826  sci-fi  1199450703
373339  116460    36537  sci-fi  1199450736
373340  116460    55805  sci-fi  1199450941
454615  133634    33826  sci-fi  1221450908

VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [67]:
movies[movies['genres'] == 'Animation']

       movieId                                              title     genres
2503      2588                                   Cloudland (1998)  Animation
4906      5002                               Fritz the Cat (1972)  Animation
4907      5003            Nine Lives of Fritz the Cat, The (1974)  Animation
9455     27738                    Cathedral, The (Katedra) (2002)  Animation
9989     32840                                     Vincent (1982)  Animation
13444    66335                  Afro Samurai: Resurrection (2009)  Animation
13858    69469                        Garfield's Pet Force (2009)  Animation
14184    71158                Immigrants (L.A. Dolce Vita) (2008)  Animation
14492    72603                            Merry Madagascar (2009)  Animation
14578    72927                                 Donkey Xote (2007)  Animation
14580    72931                                       Tango (1981)  Animation
14876    74486                                       $9.99 (2008)  Animation
14938    74791   Town Called Panic, A (Panique au village) (2009)  Animation
15085    76709   Spider-Man: The Ultimate Villain Showdown (2002)  Animation
15860    80469                 Superman/Batman: Apocalypse (2010)  Animation
15990    81018          Illusionist, The (L'illusionniste) (2010)  Animation
16551    83603             Fern flowers (Fleur de fougère) (1949)  Animation
16649    84192  Corto Maltese: Ballad of the Salt Sea (Corto M...  Animation
18144    90843  Lavatory Lovestory (Ubornaya istoriya - lyubov...  Animation
18145    90845  Fall of the House of Usher, The (Zánik domu Us...  Animation
18224    91187                                   Millhaven (2010)  Animation
18695    93083                                  Live Music (2009)  Animation
18980    94423  Disney Princess Collection: Jasmine's Enchante...  Animation
19562    96897  Bleach: Fade to Black (Bur&#299;chi Fade to Bl...  Animation
20310    99820  Pokémon the Movie: Black - Victini and Reshira...  Animation
20311    99822  Pokémon the Movie: White - Victini and Zekrom ...  Animation
20314    99832                            Hand, The (Ruka) (1966)  Animation
20527   100509               Tale of Tales (Skazka skazok) (1979)  Animation
20871   102007                    Invincible Iron Man, The (2007)  Animation
20872   102009                       Thor: Tales of Asgard (2011)  Animation
...        ...                                                ...        ...
25207   118948                                   Blackbird (1959)  Animation
25208   118950                                  A Phantasy (1952)  Animation
25211   118956                           Lines: Horizontal (1962)  Animation
25212   118958                                      Mosaic (1966)  Animation
25213   118960                            Begone Dull Care (1949)  Animation
25214   118962                                   Synchromy (1971)  Animation
25538   120853                             Fresh Guacamole (2012)  Animation
25539   120855                                Adam and Dog (2012)  Animation
25663   121302                              Someone's Gaze (2013)  Animation
25718   121600                       Bosko's Parlor Pranks (1934)  Animation
26052   124889    The Adventures of Tom Thumb & Thumbelina (2002)  Animation
26163   125924                           The Periwig-Maker (1999)  Animation
26169   125936                                        Crac (1981)  Animation
26171   125940                                      Syrinx (1966)  Animation
26181   125960                     The Trip to Squash Land (1967)  Animation
26185   125968     It's Christmastime Again, Charlie Brown (1992)  Animation
26189   125976                       Nocturna Artificialia (1979)  Animation
26192   125982                              Trick or Treat (1952)  Animation
26207   126012            The Fat Albert Halloween Special (1977)  Animation
26226   126050                    Stille Nacht I: Dramolet (1988)  Animation
26230   126058            Rehearsals for Extinct Anatomies (1987)  Animation
26236   126070                               Chainsaw Maid (2007)  Animation
26237   126072                        The Little Matchgirl (2006)  Animation
26246   126090                         Hedgehog in the Fog (1975)  Animation
26247   126092                               The Cat's Out (1931)  Animation
26248   126094                Claymation Comedy of Horrors (1991)  Animation
26319   126405        The Adventures of André and Wally B. (1984)  Animation
26809   128864                              Four Sahibjade (2014)  Animation
27103   130394                                  The Mascot (1934)  Animation
27155   130644  The Garden of Sinners - Chapter 5: Paradox Par...  Animation

[83 rows x 3 columns]

IX. Find the average rating of movies.

In [68]:
new_df = pd.merge(movies,ratingsDf,on='movieId',how='left')
new_df['rating'].mean()

3.5255285642993797

X. Perform an inner join of movies and tags based on movieId.

In [69]:
new_df = pd.merge(movies,tags,on='movieId',how='inner')
new_df.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [70]:
new_df = pd.merge(movies,ratingsDf,on='movieId',how='left')
new_df.loc[lambda x: (x.genres == 'Comedy') & (x.rating>4)].head(5)

,movieId,title,genres,userId,rating,timestamp
87435,5,Father of the Bride Part II (1995),Comedy,117.0,5.0,8.615531e+08
87437,5,Father of the Bride Part II (1995),Comedy,127.0,5.0,8.471277e+08
87455,5,Father of the Bride Part II (1995),Comedy,350.0,5.0,1.360210e+09
87460,5,Father of the Bride Part II (1995),Comedy,390.0,5.0,8.361396e+08
87462,5,Father of the Bride Part II (1995),Comedy,401.0,5.0,8.470500e+08

XII. Split 'genres' into multiple columns.

In [71]:
new = movies["genres"].str.split("|", n = 4, expand = True) 
new

                        0          1         2        3         4
0               Adventure  Animation  Children   Comedy   Fantasy
1               Adventure   Children   Fantasy     None      None
2                  Comedy    Romance      None     None      None
3                  Comedy      Drama   Romance     None      None
4                  Comedy       None      None     None      None
5                  Action      Crime  Thriller     None      None
6                  Comedy    Romance      None     None      None
7               Adventure   Children      None     None      None
8                  Action       None      None     None      None
9                  Action  Adventure  Thriller     None      None
10                 Comedy      Drama   Romance     None      None
11                 Comedy     Horror      None     None      None
12              Adventure  Animation  Children     None      None
13                  Drama       None      None     None      None
14                 Action  Adventure   Romance     None      None
15                  Crime      Drama      None     None      None
16                  Drama    Romance      None     None      None
17                 Comedy       None      None     None      None
18                 Comedy       None      None     None      None
19                 Action     Comedy     Crime    Drama  Thriller
20                 Comedy      Crime  Thriller     None      None
21                  Crime      Drama    Horror  Mystery  Thriller
22                 Action      Crime  Thriller     None      None
23                  Drama     Sci-Fi      None     None      None
24                  Drama    Romance      None     None      None
25                  Drama       None      None     None      None
26               Children      Drama      None     None      None
27                  Drama    Romance      None     None      None
28              Adventure      Drama   Fantasy  Mystery    Sci-Fi
29                  Crime      Drama      None     None      None
...                   ...        ...       ...      ...       ...
27248           Animation     Comedy      None     None      None
27249              Comedy    Romance      None     None      None
27250              Comedy       None      None     None      None
27251              Comedy       None      None     None      None
27252              Comedy       None      None     None      None
27253              Comedy       None      None     None      None
27254              Comedy       None      None     None      None
27255               Drama       None      None     None      None
27256               Drama    Romance      None     None      None
27257                 War       None      None     None      None
27258  (no genres listed)       None      None     None      None
27259               Drama       None      None     None      None
27260              Sci-Fi       None      None     None      None
27261  (no genres listed)       None      None     None      None
27262               Drama    Romance  Thriller     None      None
27263               Drama       None      None     None      None
27264              Action     Horror  Thriller     None      None
27265              Comedy    Romance      None     None      None
27266              Comedy       None      None     None      None
27267              Comedy      Drama      None     None      None
27268              Comedy    Romance      None     None      None
27269           Animation     Comedy      None     None      None
27270           Adventure  Animation  Children   Comedy   Fantasy
27271              Comedy       None      None     None      None
27272              Comedy     Horror      None     None      None
27273              Comedy       None      None     None      None
27274              Comedy       None      None     None      None
27275           Adventure       None      None     None      None
27276  (no genres listed)       None      None     None      None
27277           Adventure    Fantasy    Horror     None      None

[27278 rows x 5 columns]

XIII. Extract year from title e.g. (1995).

In [72]:
movies['title'].str.extract(pat= r'(?P<title>[(1-9)].....)').head(10)

    title
0  (1995)
1  (1995)
2  (1995)
3  (1995)
4  (1995)
5  (1995)
6  (1995)
7  (1995)
8  (1995)
9  (1995)

XIV. Select rows based on timestamps later than 2015-02-01.

In [73]:
tags['Date'] = pd.to_datetime(tags['timestamp'], unit='s').dt.date

tags[tags.Date > pd.datetime(2015,2,1).date()]

        userId  movieId                       tag   timestamp        Date
301        318      260                     1970s  1424472169  2015-02-20
302        318      260                   fantasy  1424472169  2015-02-20
303        318      260                    sci-fi  1424472169  2015-02-20
304        318   115149                    Action  1424534310  2015-02-21
305        318   115149                   Revenge  1424534283  2015-02-21
306        318   115149              Willem Dafoe  1424534383  2015-02-21
324        342      318                masterplan  1423424898  2015-02-08
326        342      318             prison escape  1423424898  2015-02-08
327        342      318                redemption  1423424898  2015-02-08
589        342   108190           based on a book  1426978115  2015-03-21
590        342   108190                  dystopia  1426978076  2015-03-21
1018       370     6975  breaking the fourth wall  1425242234  2015-03-01
1019       370    27592                   violent  1425241975  2015-03-01
2203       969       97            class conflict  1426754226  2015-03-19
2204       969      288                  mindfuck  1426752631  2015-03-19
2205       969      288                  paranoid  1426752639  2015-03-19
2206       969      288               psychedelic  1426752634  2015-03-19
2207       969     1263       american propaganda  1426753995  2015-03-19
2208       969     3742            class conflict  1426753876  2015-03-19
2209       969     3742                   Classic  1426754311  2015-03-19
2210       969     3742                Propaganda  1426754337  2015-03-19
2211       969     4848               Atmospheric  1426752575  2015-03-19
2212       969     4848                      dark  1426752581  2015-03-19
2213       969     4848                  Mindfuck  1426752569  2015-03-19
2214       969     6530            claustrophobic  1426753144  2015-03-19
2215       969     6530            mental illness  1426751285  2015-03-19
2216       969     6530                   suicide  1426751289  2015-03-19
2217       969     8950                depressing  1426749117  2015-03-19
2218       969     8950               psychodrama  1426752695  2015-03-19
2219       969     8950             schizophrenia  1426752689  2015-03-19
...        ...      ...                       ...         ...         ...
461859  137163      318                    prison  1424632727  2015-02-22
461860  137163      318                redemption  1424632727  2015-02-22
461861  137163      318              twist ending  1424632727  2015-02-22
461865  137163    95654                     chess  1425677277  2015-03-06
462190  137249      296               influential  1423437040  2015-02-08
462191  137249      296                  neo-noir  1423437040  2015-02-08
462192  137249      296         quentin tarantino  1423437040  2015-02-08
462195  137277   110052     marcello mastroianni,  1422925214  2015-02-03
462979  137924    46855                 Criterion  1427722627  2015-03-30
462980  137924    46855         French Resistance  1427722622  2015-03-30
462981  137924    46855              World War II  1427722614  2015-03-30
463004  138063     4355                    Hockey  1424230535  2015-02-18
463005  138063   108160                    Hockey  1424230501  2015-02-18
463504  138103    67894                   finnish  1423255773  2015-02-06
463509  138103    69442                   finnish  1423255750  2015-02-06
463544  138103    73501                   finnish  1423255756  2015-02-06
463545  138103    74681                   finnish  1423255760  2015-02-06
463573  138103    84553                   finnish  1423255764  2015-02-06
464786  138301    52042                 espionage  1426032479  2015-03-11
464787  138301    52042       resistance movement  1426032481  2015-03-11
464788  138301    52042              World War II  1426032485  2015-03-11
464958  138301   109487                 ambitious  1423178287  2015-02-05
464959  138301   109487                atmosphere  1423178302  2015-02-05
464960  138301   109487                plot holes  1423178186  2015-02-05
464961  138301   109487                    sci-fi  1423178227  2015-02-05
464962  138301   109487           science fiction  1423178255  2015-02-05
464963  138301   109487            Self-Indulgent  1423178219  2015-02-05
464964  138301   109487                     space  1423178343  2015-02-05
464965  138301   109487        visually appealing  1423178319  2015-02-05
464966  138301   109487          wasted potential  1423178212  2015-02-05

[11738 rows x 5 columns]

XV. Sort the tags DataFrame based on timestamp.

In [75]:
tags.sort_values('Date')

        userId  movieId                   tag   timestamp        Date
333931  100371     2329          fuckoff nazi  1135429508  2005-12-24
333944  100371     6016                brazil  1135429520  2005-12-24
333923  100371     1193        jack nicholson  1135429371  2005-12-24
333924  100371     1206       stanley kubrick  1135429248  2005-12-24
333939  100371     5004         peter sellers  1135429399  2005-12-24
333937  100371     4011           guy ritchie  1135429431  2005-12-24
333936  100371     4011             brad pitt  1135429431  2005-12-24
333922  100371       47        morgan freeman  1135429412  2005-12-24
333927  100371     1732         coen brothers  1135429236  2005-12-24
333933  100371     2858          kevin spacey  1135429466  2005-12-24
333932  100371     2788          monty python  1135429210  2005-12-24
333921  100371       47             brad pitt  1135429412  2005-12-24
333930  100371     2329         edward norton  1135429508  2005-12-24
333920  100371       32          bruce willis  1135429442  2005-12-24
15903     3797      110             overrated  1135589075  2005-12-26
256663   75141     4642              Terrible  1135688095  2005-12-27
15926     3797     8573  Nonlinear Surrealism  1135936223  2005-12-30
68918    16050     6898                 harsh  1136039368  2005-12-31
68925    16050    38886                family  1136036612  2005-12-31
68926    16050    38886              new york  1136036612  2005-12-31
68927    16050    38886             overrated  1136036612  2005-12-31
68928    16050    38886                  twee  1136036612  2005-12-31
68922    16050     7060             religious  1136039301  2005-12-31
68921    16050     7060               musical  1136039301  2005-12-31
68920    16050     7060                kitsch  1136039301  2005-12-31
68919    16050     7060             christian  1136039301  2005-12-31
68924    16050    38886              eighties  1136036612  2005-12-31
68916    16050     6898               british  1136039368  2005-12-31
68917    16050     6898                 drugs  1136039368  2005-12-31
81446    20513    36529               weapons  1136242623  2006-01-02
...        ...      ...                   ...         ...         ...
396960  123297      317                   CLV  1427736249  2015-03-30
397007  123297      369                   CLV  1427744566  2015-03-30
397467  123297     1040                   CLV  1427742428  2015-03-30
397466  123297     1038                   CLV  1427743188  2015-03-30
397429  123297     1021                   CLV  1427743711  2015-03-30
397243  123297      838                   CLV  1427740438  2015-03-30
288375   87797      215                Vienna  1427755801  2015-03-30
314128   89869    96737        cinematography  1427678983  2015-03-30
314129   89869    96737              Dystopia  1427678978  2015-03-30
314130   89869    96737      post-apocalyptic  1427678980  2015-03-30
314131   89869    96737              stylized  1427678985  2015-03-30
396969  123297      335                   CLV  1427733844  2015-03-30
108295   26994    69275         horror comedy  1427743583  2015-03-30
108294   26994    69275                  gore  1427743577  2015-03-30
108297   26994    69275               Zombies  1427743573  2015-03-30
336187  101767    33794           atmospheric  1427673985  2015-03-30
336188  101767    33794              stylized  1427673981  2015-03-30
336189  101767    33794             vigilante  1427673982  2015-03-30
336190  101767    34162           buddy movie  1427673671  2015-03-30
336191  101767    34162                 funny  1427673669  2015-03-30
397210  123297      712                   CLV  1427739297  2015-03-30
397202  123297      692                   CLV  1427742742  2015-03-30
397186  123297      640                   CLV  1427731502  2015-03-30
397183  123297      627                   CLV  1427740588  2015-03-30
397132  123297      562                   CLV  1427743534  2015-03-30
108296   26994    69275             Norwegian  1427743579  2015-03-30
408138  124453    93563         stupid ending  1427734511  2015-03-30
158780   46072     6058           premonition  1427760764  2015-03-31
158763   46072     3409           premonition  1427760726  2015-03-31
339178  102853   115149         russian mafia  1427771352  2015-03-31

[465564 rows x 5 columns]